<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Grammar Keyboard"
        android:icon="@mipmap/ic_launcher">

        <!-- Input Method Service -->
        <service
            android:name=".GrammarCheckInputMethodService"
            android:exported="true"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

    </application>
</manifest>